body {
    font-family: sans-serif;
}
header {
    color: darkblue;
    background-color: lightblue;
    margin: 15px;


}
header a {
         background-color: white; 
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
}
main h1 {
    color: orange;
}

footer p {
    border: 5px solid orange;
    margin: 2px;
}
nav a {
    
    text-decoration: none;
    color: white;
    margin: 35px;
}
nav {
    background-color: darkgreen;
    padding: 1px;
}
main img {
    background-color: lightgreen;
    
}
